@import "../abstract/variaveis";

.headerContainer {
  width: 100%;
  margin: 0 auto;
  background-color: $cor-primaria;

  nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    height: 80px;
    .headerImgContainer {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        max-width: 130px;
        display: block;
        border-bottom: 4px solid transparent;
      }
    }
    .headerMenuOpt {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $cor-secundaria;
        margin: 0 12.5px;
        min-width: 40px;
        height: 80px;
        border-bottom: 4px solid transparent;
        transition: 0.5s;
        &:hover {
          border-bottom: 4px solid $cor-secundaria;
          color: $cor-terciaria;
        }
      }
    }
    .headerReservation {
      width: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 4px solid transparent;
      a {
        text-decoration: none;
        color: white;
        margin-left: 50px;
        border: 1px solid $cor-secundaria;
        padding: 15px 30px;
        border-radius: 5px;
      }
    }
  }
}
