.discoverCafeteriaBg {
    background-color: $cor-primaria;
    // height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // @media screen and (max-width: 900px) {
    //     height: 80vh;
    // }
    padding: 100px 0;
    .discoverCafeteriaContainer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
        height: 100%;
        position: relative;
        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        .discoverCafeteriaService {
            max-width: 460px;
            h4 {
                font-family: $fonte-secundaria;
                color: $cor-secundaria;
                font-size: 2rem;
            }
            h1 {
                color: white;
                font-size: 2.5rem;
                max-width: 780px;
                margin-bottom: 20px;
            }
            p {
                color: rgb(201, 201, 201);
                font-size: 1rem;
                text-align: justify;
                margin-bottom: 15px;
            }
            ul {
                list-style: none;
                li {
                    color: white;
                    margin-bottom: 10px;
                    &:before {
                        content: "✓";
                        font-weight: bolder;
                        color: $cor-terciaria;
                    }
                }
            }
        }
        .discoverEmptyContainer {
            width: 460px;
        }
        .discoverCafeteriaImg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 60%;
            background-image: url(/images/food-1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            width: 50%;
            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
    }
}
