.homeCafeteriaBgImg {
  width: 100%;
  background-image: url(../../../public/images/delicious-food.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  .homeCafeteriaContainer {
    width: 80%;
    margin: 0 auto;
    h4 {
      padding-top: 60px;
      font-family: $fonte-secundaria;
      color: $cor-secundaria;
      font-size: 2rem;
    }
    h1 {
      color: white;
      font-size: 6rem;
      max-width: 780px;
    }
  }
}
