.numbersMenuContainerBg {
  width: 100%;
  background-color: $cor-quarta;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .numbersMenuContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .numbersMenuImgs {
      display: flex;
      align-items: center;
      color: $cor-terciaria;
      gap: 20px;
      p {
        font-size: 2rem;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}
