//Cores
$cor-primaria: #3b3b3b;
$cor-secundaria: #dba36a;
$cor-terciaria: #feefd0;
$cor-quarta: #11191f;
$cor-quinta: #0d1317;

$cor-bola: #0d1317;

//Fonte
$fonte-primaria: "Roboto", sans-serif;
$fonte-secundaria: "Sacramento", cursive;
