//Cores
$cor-primaria: #3b3b3b;
$cor-secundaria: #dba36a;
$cor-terciaria: #ffe5ab;
$cor-quarta: #11191f;

$cor-bola: #0d1317;

//Fonte
$fonte-primaria: "Roboto", sans-serif;
$fonte-secundaria: "Sacramento", cursive;
