* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.headerContainer {
  width: 100%;
  margin: 0 auto;
  background-color: #3b3b3b;
  border-bottom: 1.5px solid #707070;
}
.headerContainer nav {
  width: 95%;
  margin: 0 auto;
  display: flex;
  height: 80px;
}
.headerContainer nav .headerLogoContainer {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer nav .headerLogoContainer img {
  max-width: 130px;
  display: block;
  border-bottom: 4px solid transparent;
}
.headerContainer nav .headerMenuOpt {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headerContainer nav .headerMenuOpt a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #dba36a;
  padding: 0 12.5px;
  min-width: 40px;
  height: 80px;
  border-bottom: 4px solid transparent;
  transition: 0.5s;
}
.headerContainer nav .headerMenuOpt a:hover {
  border-bottom: 4px solid #dba36a;
  color: #ffe5ab;
}
.headerContainer nav .headerReservation {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 4px solid transparent;
}
.headerContainer nav .headerReservation a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  border: 1px solid #dba36a;
  padding: 15px 30px;
  border-radius: 5px;
}

.deliciousCafeteriaBgImg {
  width: 100%;
  background-image: url(../../../public/images/delicious-food.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}
.deliciousCafeteriaBgImg .deliciousCafeteriaContainer {
  width: 80%;
  margin: 0 auto;
}
.deliciousCafeteriaBgImg .deliciousCafeteriaContainer h4 {
  padding-top: 60px;
  font-family: "Sacramento", cursive;
  color: #dba36a;
  font-size: 2rem;
}
.deliciousCafeteriaBgImg .deliciousCafeteriaContainer h1 {
  color: white;
  font-size: 6rem;
  max-width: 780px;
}

.aboutCafeteriaBg {
  background-color: #3b3b3b;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutCafeteriaBg .aboutCafeteriaContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.aboutCafeteriaBg .aboutCafeteriaContainer div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 500px;
}
.aboutCafeteriaBg .aboutCafeteriaContainer div {
  max-width: 460px;
}
.aboutCafeteriaBg .aboutCafeteriaContainer div h4 {
  font-family: "Sacramento", cursive;
  color: #dba36a;
  font-size: 2rem;
}
.aboutCafeteriaBg .aboutCafeteriaContainer div h1 {
  color: white;
  font-size: 2.5rem;
  max-width: 780px;
  margin-bottom: 20px;
}
.aboutCafeteriaBg .aboutCafeteriaContainer div p {
  color: rgb(201, 201, 201);
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 15px;
}
.aboutCafeteriaBg .aboutCafeteriaContainer div span {
  color: rgb(146, 146, 146);
  text-align: justify;
}

.foodCafeteriaBg {
  width: 100%;
  min-height: 50vh;
  background-color: #11191f;
  display: flex;
  align-items: center;
}
.foodCafeteriaBg .foodCafeteriaContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.foodCafeteriaBg .foodCafeteriaContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  position: relative;
}
.foodCafeteriaBg .foodCafeteriaContainer div div {
  width: 60px;
  margin-bottom: 80px;
}
.foodCafeteriaBg .foodCafeteriaContainer div div img {
  position: absolute;
  z-index: 2;
  max-width: 100%;
  display: block;
}
.foodCafeteriaBg .foodCafeteriaContainer div .circle {
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: #0d1317;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.foodCafeteriaBg .foodCafeteriaContainer div h4 {
  font-size: 1.7rem;
  color: #ffe5ab;
  text-align: center;
  margin-bottom: 10px;
}
.foodCafeteriaBg .foodCafeteriaContainer div h5 {
  font-size: 0.8rem;
  color: #ffe5ab;
  text-align: center;
}

.buttonContainer {
  padding-top: 40px;
  position: relative;
}
.buttonContainer a {
  text-decoration: none;
  color: white;
  border: 1px solid #dba36a;
  padding: 15px 30px;
  border-radius: 5px;
  position: absolute;
  transition: 1s;
}
.buttonContainer a:hover {
  transform: translateY(-10px);
}/*# sourceMappingURL=style.css.map */